<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B2117459BAA9E26985512763F3416AEF8ECCDB89</string>
				<key>dateExpires</key>
				<string>2023/12/30</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.11.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2117459BAA9E26985512763F3416AEF8ECCDB89</string>
						<key>dateExpires</key>
						<string>2023/12/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32KDFQH4SW</string>
						<key>name</key>
						<string>HONG CHANGSUB</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>20230102</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B2117459BAA9E26985512763F3416AEF8ECCDB89</string>
						<key>dateExpires</key>
						<string>2023/12/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>32KDFQH4SW.com.sandwish</string>
						<key>com.apple.developer.team-identifier</key>
						<string>32KDFQH4SW</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>share.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>f2349baf-2eda-452a-bba0-f26d496070d4</string>
						<key>dateExpires</key>
						<string>2024/01/03</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: *</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32KDFQH4SW</string>
						<key>name</key>
						<string>HONG CHANGSUB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>32KDFQH4SW.com.sandwish</string>
				<key>com.apple.developer.team-identifier</key>
				<string>32KDFQH4SW</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>FirstApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f2349baf-2eda-452a-bba0-f26d496070d4</string>
				<key>dateExpires</key>
				<string>2024/01/03</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>32KDFQH4SW</string>
				<key>name</key>
				<string>HONG CHANGSUB</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
