<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>493A2B5F2EA67FEEBF3B146F7656553CC7488E87</string>
				<key>dateExpires</key>
				<string>2024/01/03</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>493A2B5F2EA67FEEBF3B146F7656553CC7488E87</string>
						<key>dateExpires</key>
						<string>2024/01/03</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32KDFQH4SW</string>
						<key>name</key>
						<string>HONG CHANGSUB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>493A2B5F2EA67FEEBF3B146F7656553CC7488E87</string>
						<key>dateExpires</key>
						<string>2024/01/03</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>32KDFQH4SW.com.sandwish</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>32KDFQH4SW</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>share.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>15915790-ec48-4dda-a195-9e7babe7f7ab</string>
						<key>dateExpires</key>
						<string>2024/01/03</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.sandwish</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32KDFQH4SW</string>
						<key>name</key>
						<string>HONG CHANGSUB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>32KDFQH4SW.com.sandwish</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>32KDFQH4SW</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FirstApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>15915790-ec48-4dda-a195-9e7babe7f7ab</string>
				<key>dateExpires</key>
				<string>2024/01/03</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.sandwish</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>32KDFQH4SW</string>
				<key>name</key>
				<string>HONG CHANGSUB</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
